<div class="mp_content_wrapper">
  <div class="ajax-loader-box">
    <div class="clear"></div>
    <div id="notes">
      <%= render @notes %>
    </div>
    <div class="clear"></div>
    <ul class="pagination group">
      <%= render "pages_nav" %>
    </ul>
  </div>
</div>