<div class="page-header" style="margin-top: 0;">
  <h4><i class="icon-certificate"></i> <%= t("user.create_payment_address") %></h4>
</div>

<p class="alert alert-info">
   Payment address is the address that will be used to issue you checks when you want to withdraw your money for hypejamz.
  Your hypejamz credit will be converted to real money and sent to you. Thank your for using hyoejamz
</p>
<%= render 'form' %>

<%= link_to 'Back', payment_addresses_path %>
