<div class="ajax-loader-box">
  <div class="ajax-header">
    <h3>My Videos</h3>
  </div>
  <% if @videos.empty? %>
      <p class="no-comments"> No Video for <%= user.name.humanize %></p>
  <% else %>
      <%= render @videos %>
  <% end %>
</div>