<div class="songs-nav">
  <ul>
    <li><%= link_to "Most recent", songs_path, :class => "remote-event-link", :remote => true %></li>
    <li><%= link_to "Older", older_path, :class => "remote-event-link", :remote => true %></li>
  </ul>
</div>