<div id="content_wrapper">
  <div id="active_admin_content">
    <div id="form-box">
      <h5 class="page-title">
        Create a new event
      </h5>
      <div class="form-box">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
