<div id="content_wrapper">
 <div id="active_admin_content">
      <div id="form-box">
        <h2>
          <% if params[:album_art] %>
             Update album art
          <% else %>
            Update song details
          <% end %>
        </h2>
<%= render 'form' %>


</div>
</div>
</div>
