<div class="story-block">
  <div class="story-show-block more-space">
<div class="story-title">
  <h3>
    Hottest <%= @category.name.capitalize %> Gist's on HypeJamz
  </h3>
</div>
    <div class="small-margin-top">
     <%= render @stories %>
    </div>
  </div>
<div class="clear"></div>
</div>