<div class="hypejamz-logo">
  <%= image_tag "hypejamz1.png" %>
</div>

<div class="about-block">
<h3>Share Songs with your Friends</h3>
<p>Now on hypejamz your fans can know which song you are listening to or the songs you are downloading. You can also share songs
  on other popular networks like Facebook, Twitter, G+ and lots more.
</p>
</div>

<!--
<form class="well form-inline">
  <input type="text" class="input-small" placeholder="Email">
  <input type="password" class="input-small" placeholder="Password">
  <label class="checkbox">
    <input type="checkbox"> Remember me
  </label>
  <button type="submit" class="btn">Sign in</button>
</form>

<form class="well form-horizontal">
  <fieldset>
    <legend class="label">Not yet a member? <em>Join Now!</em> </legend>
    <div class="control-group">
      <label class="control-label" for="input01">Username/Brandname</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Real Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input05">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Email</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input02">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Password</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input03">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-info"><em>Join now!</em></button>
    </div>

  </fieldset>
</form>
-->
