<div class="side_reg">
 <%= t("sign_up_info") %>  <br/>
  <%= link_to "Log in", new_user_session_path, :class => "btn btn-primary" %>
               OR
  <%= link_to "Join Now!", new_user_registration_path, :class => "btn btn-primary" %>
</div>