<div class="alert alert-error">
  <p>
    Sorry you dont have enough credit to upload your <%= controller_name.downcase %> on hypejamz.
  <p>

  <p>
    To upload your songs on hypejamz you can buy hypejamz credit with your ATM/Matercard via our interswitch portal through vouge pay and your account will be credited instantly. To upload your songs on hypejamz now cost 750hjc
    which will cost 750hjc. <%= link_to "Get hypejamz credit", plans_path %>
  </p>
  <p>
    With the new and improved hypejamz Verified accounts, you can now Sell your songs on hypejamz and withdraw your money any time. <%= link_to "Learn more", new_verification_path %>
  </p>
  <p>
    To upgrade your account, can take up to about 3weeks depending on your location and costs 5000 hjc.
  </p>
</div>