<div class="page-header">
<h2>About Us</h2>
</div>

<p>
Hypejamz is an African music network whose aim is to help generate revenue for music artistes and promoters around Africa. Music in Africa is a very creativeness art and we all should show appreciation for the work of art. Here we bring to you a revenue generating platform at your doorstep and you can generate lots of revenue with just one single track.
</p>

<p>
Sign Up today and start uploading your songs and videos and build your music profile on hypejamz and keep track of your songs sales.
</p>

<p>
 On hypejamz any one can generate revenue.
More features coming to you soon on hypejamz.
</p>

<p>
Please note that hypejamz is not responsible for your song onces downloaded or outside this platform.
</p>

<div id="hypejamz-credit">
<div class="page-header">
<h2>About Hypejamz Credit</h2>
</div>

<p>
hypejamz credit enables you to download songs and send messages to artistes with ease.
All songs on hypejamz are purchased via hypejamz credit. You can upload your song with 2000hjc and people can start downloading them with a minimum of 12hjc . 
These credits has its naira and dollar equivalence and can be withdrawn from hypejamz at any time if and only if your account balance is above 15000 hypejamz credit.
</p>
<p>
Only artistes that have their accounts verified are allowed to set the amount they want their songs to be downloaded of which ranges from 2 to 200 hjc. Get your account verified today with a minimum fee of 15000 hjc.
  Note: Verification can take days or weeks depending on your region. To verify your account please click <%= link_to "VERIFY NOW", new_verification_path, class: "btn btn-info"%>
</p>

<p>
Please note that songs that violate copyright law are eligible to be deleted within a week but if the song has generated revenue, the bulk of the share goes the the owner of the song of which you get a minimum of 12% of the revenue for promoting the copyrighted song. All these are done to prevent piracy at its very minimal. So rather than uploading the song for free in other file sharing website and just allow people to download for free and the owner of the song gets no reward for his efforts, you stand a chance to be given a promoter badge on hypejamz and upload any song you want.
</p>

<p>
Acquiring hypejamz credit Is as simple as using your atm, credit card/debit card in an atm machine. But this time we provide a very secure and easy to use payment method that accepts credit card from all over africa and across the world. Hypejamz credit varies from the .... Hypejamz credit are made as cheap as possible so we make life easy for everyone who loves music.
</p>
</div>
